/Debug/
/Release/
*.so
/OceanGUI/Debug/
*.stash
*/.qtc_clangd/
*.o
*.d
*.~lock*\#
/.settings/
/*/.cproject
/*/.project
/.project
/.cproject
language.settings.xml
/Build/
/Test/
/shlib/
/Shlib/
/TestPrj/
/RELEASE_NOTES.template
/*tar.gz
/*/CMakeFiles
/Cmake/build_*
/*/cmake_install.cmake
/*/Makefile


/debugging.txt
/nohup.out
